html {
  width: 1200px;
}
body {
  width: 1200px;
  background-color: rgb(214, 204, 204);
  margin: 0;
}
.blok {
  width: 1200px;
  background-color: rgb(255, 255, 255);
  height: 52px;
}
.blok01 {
  float: left;
  width: 50%;
}
.blok02 {
  float: left;
  width: 50%;
  background-color: rgb(30,114,170);
  height: 52px;
  margin: 0px;
  text-align: center;
}
.blok02 h3 {
  display: table-cell;
  margin: 0%;
  width: 600px;
  height: 52px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.blok02 h3 em {
  color: #fff;
}
.blok1 {
  width: 1200px;
  height: 50px;
  background-color: rgb(68, 65, 65);
}
#menu ul{
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
  }
  #menu li:hover ul { display: block; }
  #menu, #menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  #menu {
    height: 52px;
    background-color: rgb(30, 114, 170);
    padding-left: 0px;
    width: 100%;

  }
  #menu li {
    float: left;
    position: relative;
    height: 100%;
    border: 2px;
  }
  #menu li a {
    display: block;
    padding: 18px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  #menu ul li { float: none; }
  #menu li:hover { background-color: #f90; }
  #menu ul li:hover { background-color: rgb(68,65,65); }

.blok_2 {
  width: 1200px;
  height: 450px;
}

.blokimg {
  height: 450px;
  float: left;
}
.blokimg img{
  width: 600px;
  height: 450px;
}

.article {
  float: left;
  background-image: url(foto3.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 600px;
}
.forum {
  margin: 0;
  
  width: 600px;
  height: 212px;
  padding-top: 50px;
}
.forum h2 {
  margin-top: 0;
  margin-bottom: 50px;
  color: red;
  padding-left: 50px;
}
.forum1 {
  text-align: left;
  padding-left: 50px;
}
.forum1 h3 {
  margin: 0;
  color: aliceblue;
}
.forum1 p {
  margin-top: 5px;
  margin-bottom: 50px;
  color: aliceblue;
}
